<ion-header>
  <ion-toolbar color = "dark">    
    <ion-title>ACE2-APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card>    
    <!--<ion-card-header>      
      <ion-card-subtitle>¿Nivel de Desinfectante?</ion-card-subtitle>      
      <ion-card-title class="ion-text-center">90%</ion-card-title>      
    </ion-card-header>-->
    <ion-card-header>      
      <ion-card-subtitle>¿Nivel de Desinfectante?</ion-card-subtitle>      
      <ion-card-title class="ion-text-center">
          <ion-label>{{datosR.percent_liquido}} %</ion-label>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid >       
   <ion-row [ngSwitch]="datosR.nivel_liquido">
    
     <ion-col *ngSwitchCase = "'Alto'">    
      <ion-card (ionViewWillEnter)= "evento()"> 
        <ion-img src="assets/img/nivel-alto.png"></ion-img>   
      </ion-card>  
     </ion-col>

     <ion-col *ngSwitchCase = "'Medio'">
      <ion-card>    
        <ion-img src="assets/img/nivel-medio.png"></ion-img>
      </ion-card>
     </ion-col>

     <ion-col *ngSwitchCase = "'Bajo'">
      <ion-card>    
        <ion-img src="assets/img/nivel-bajo.png"></ion-img>
      </ion-card>
     </ion-col>
   </ion-row>  
  
    </ion-grid>    
</ion-content>
