<ion-header>
  <ion-toolbar color = "dark">    
    <ion-title>ACE2-APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div align="center"><img src="assets/img/buzon.jpg" style="width: 55px; min-width: 250px;"></div>
    <ion-card-header>      
      <ion-card-subtitle>¿Paquete Actual en Buzón?</ion-card-subtitle>      
      <ion-card-title class="ion-text-center">NO</ion-card-title>
      <ion-card-subtitle>Peso:</ion-card-subtitle>      
      <ion-card-title class="ion-text-center" >0.0</ion-card-title>
    </ion-card-header>
  </ion-card>

  

</ion-content>

