<ion-header>
  <ion-toolbar color = "dark">    
    <ion-title>ACE2-APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card [ngSwitch]="datosR.estado_buzon">
    <ion-card-content *ngSwitchCase = "true">
      <ion-img src="assets/img/buzon-cerrado.png"></ion-img>
      <ion-card-header>            
        <ion-card-subtitle>¿Buzon Abierto?</ion-card-subtitle>      
        <ion-card-title class="ion-text-center">NO</ion-card-title>
        <ion-card-subtitle>¿Paquete Actual en Buzón?</ion-card-subtitle>      
        <div [ngSwitch]="datosR.peso">
          <ion-card-title class="ion-text-center" *ngSwitchCase = "0.00">NO</ion-card-title>
          <ion-card-title class="ion-text-center" *ngSwitchDefault>SI</ion-card-title>
      </div>
        <ion-card-subtitle>Peso:</ion-card-subtitle>      
        <ion-card-title class="ion-text-center" >{{datosR.peso}}</ion-card-title>      
      </ion-card-header>
    </ion-card-content>    
    
    
      <ion-card-content *ngSwitchCase = "false">
        <ion-img src="assets/img/buzon-abierto.png"></ion-img>
        <ion-card-header>            
          <ion-card-subtitle>¿Buzon Abierto?</ion-card-subtitle>      
          <ion-card-title class="ion-text-center">SI</ion-card-title>
          <ion-card-subtitle>¿Paquete Actual en Buzón?</ion-card-subtitle>      
          <div [ngSwitch]="datosR.peso">
            <ion-card-title class="ion-text-center" *ngSwitchCase = "0.00">NO</ion-card-title>
            <ion-card-title class="ion-text-center" *ngSwitchDefault>SI</ion-card-title>
        </div>
          <ion-card-subtitle>Peso:</ion-card-subtitle>      
          <ion-card-title class="ion-text-center" >{{datosR.peso}}</ion-card-title>      
        </ion-card-header>
      </ion-card-content>  
     
  </ion-card>
</ion-content>

