<ion-header [translucent]="false">
  <ion-toolbar color = "dark">    
    <ion-title>ACE2-APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>      
    <ion-card-title>Integrantes</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Estudiante 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estudiante 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estudiante 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estudiante 4</ion-label>
      </ion-item>      
    </ion-list>

  </ion-card-content>
  
</ion-content>
